* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Sriracha', cursive;
}

.carousel-item {
    max-height: 50vh;
    overflow: hidden;
    margin-bottom: 30px;
}

.subtitulo {
    flex: 1 0 100%;
}

#exemplobootstrap {
    margin-top: 30px;
}

#exemplobootstrap div section {
    height: 30vh;
}