* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Sriracha', cursive;
}

.carousel-item{
    max-height: 35vh;
    overflow: hidden;
}

h2.subtitulo{
    flex-grow:1;
    flex-shrink: 0;
    flex-basis: 100%;
}

#exemplobootstrap{
    margin-top: 30px;
}


#exemplobootstrap div section{
    height: 30vh;

}